.root{
    --magenta: #CB3A87;
    --color2:#F5E5FF;
}

*{
    /* outline: solid; */
}



/*  */
.navbar-brand>img{
    width: 25vh;
}

.bar2 img
{
    width: 32px;
}
/*  */



/* FOOTER */
.footer_icons>img{
    width: 32px;
}

.card>img, .card-body>div>a{
    -webkit-box-shadow: -8px -6px 5px 0px rgba(0,0,0,0.18); 
box-shadow: -8px -6px 5px 0px rgba(0,0,0,0.18);;
}

